.registration-login-form {
	min-height: 560px;
}

.empty{
	border: 1px solid red;
}
.onchange{
	border: 1px solid #e6ecf5;
}

#hidden-content-a .btn, #hidden-content-b .btn{
	margin-top: 20px;
}

.token, .newpassword{
	display: none;
}

.friend-item{
	height: 450px;
}

