br {
	content: "";
	display: block;
	margin-bottom: 1em; // la taille de l'espace voulu en px, %, em, hv, pt, etc...
}

/*ACCUEIL*/
header#site-header.introjs-fixParent{
	z-index: auto !important;
	opacity: 1 !important;
	transition: none;
	position: absolute;
}
#tourbtn {
	position: fixed;
	right: 15px;
	bottom: 35px;
}
#tourbtn a {
	background: #bac081;
	padding: 8px 15px;
	font-size: 12px;
	line-height: 22px;
	font-weight: bold;
	color: #454a50;
	text-decoration: none;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
}
#tourbtn a:hover {
	background: #cacf96;
}
.introjs-tooltiptext{
	text-align: center;
	z-index: 9999;
}
.introjs-arrow{
	left: 12px;
}
.main-header .content-bg:before{
	height: 287% !important;
}
.introjs-prevbutton{
	float:left;
}

/*NOTIF LEADER SITE DU MOIS*/
span.notif {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	margin-left: auto;
	margin-right: auto;
	width: 530px;
	padding: 21px 0;
	color: tomato;
	text-transform: uppercase;
	font-size: 1.5em;
}


/*CODE*/
* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

html, body {
	width: 100%; height: 100%;
}

#wrap {
	width: 100%;
	height: 100%;
}

/* Code Editors */

#code_editors {
	margin-left: 70px;
	width: 100%;
	float: left;
}
#code_editors .code_box {
	width: 33%;
	z-index: 9;
	float: left;
}
.code_box h3 {
	font-size: 13px;
	height: 30px;
	padding: 5px 10px 5px 40px;
	margin: 0;
	background: #343436;
	color: white;
	border-bottom: 1px solid #202020;
	z-index: 10;
	line-height: 21px;
}
.code_box textarea {
	position: absolute;
	left: 0; right: 0; top: 30px; bottom: 0;
	resize: none; border: 0;
	padding: 10px;
	font-family: monospace;
}
.code_box textarea:focus {
	outline: none;
	background: #EFEFEF;
}
.CodeMirror-gutter {
	background: #343436;
}
.CodeMirror {
	color: white;
}
iframe#content {
	border: none;
	width: 100%;
	height: 60vh;
	padding: 0 0 0 70px;
}

/* Output Area */
#code_wrap #output {
	height: 60vh;
	float: left;
	width: 100%;
}
.CodeMirror-scroll {
	background: #1d1f20;
	padding-bottom: 30px;
}
.CodeMirror-gutters {
	background-color: #1d1f20;
	white-space: nowrap;
	border-right: inherit;
}
.cm-s-monokai .CodeMirror-gutters {
	background: #343436;
	border-right: 0px;
}
#code_wrap::-webkit-scrollbar {
	width: 12px;
}
#code_wrap::-webkit-scrollbar-thumb {
	-webkit-box-shadow: inset 0 0 20px rgb(0, 0, 0);
	border: 1px solid #343436;
}
#code_wrap::-webkit-scrollbar-track {
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}
.CodeMirror pre, .CodeMirror-linenumber {
	font-size: 13px;
}
#prop-code .option,  #prop-code .edit_code{
	position: fixed;
	bottom: 10px;
	right: 10px;
	font-size: 14px;
	color: #888da8;
	text-transform: capitalize;
	transition: all .3s ease;
	padding: 10px 20px;
	display: block;
	color: #fff;
	background-color: #ff5e3a;
}
#prop-code .CodeMirror-scrollbar-filler {
	display: none !important;
}


/*EXPLORE*/
#explore .align-center {
	width: 100%;
}
#veille_code p.post-category.bg-blue-light {
	width: 100%;
	border-radius: inherit;
	padding: 10px;
	text-align: center;
	font-size: 1rem;
	float: left;
	color: white;
	text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.23);
}
#veille_code h4 {
	font-weight: inherit;
}
#explore .post-content p {
	color: #2C2C2C;
}
#explore .modo{
	text-align: center;
	margin-bottom: 25px;
}
#veille .hentry p {
	overflow-wrap: break-word;
}
#veille .moderation{
	display: flex;
	justify-content: space-around;
}
#veille .moderation a {
	width: 100%;
	text-align: center;
	padding: 10px;
	color: white !important;
	cursor: pointer;
}
#veille .accepter{
	background-color: #1ed760;
}
#veille .refuser{
	background-color: tomato;
}
#veille #moderation .sorting-item a.post-add-icon.inline-items {
	bottom: 60px;
}
#veille .toggle{
	display: none;
}
#veille .cat-list-bg-style {
	margin:0 0 50px 0;
}
#veille form.w-search {
	padding-right: 20px;
}
#veille .form-group.with-button, input.search_veille{
	height: 100%;
}
#veille a.btn.btn-primary.btn-md-2.trigger {
	line-height: 25px;
	cursor: pointer;
	color: white !important;
}
#veille .w-search {
	width: 70%;
}
#veille .form-group.with-button div.hax-btn {
	display: block;
	position: absolute;
	right: 0;
	top: 0;
	height: 100%;
	width: 35px;
	text-align: center;
	line-height: 100%;
	color: #fff;
	fill: #fff;
	background-color: #d7d9e5;
	border: none;
	padding: 15px 0;
	cursor: pointer;
}
#veille .w-select {
	display: flex !important;
	justify-content: space-between;
	flex-direction: row;
}
#veille .wrapper_date{
	display: flex;
	justify-content: space-between;
}
#veille .no-padding{
	padding: 0;
}
#veille select.filters-select{
	flex-basis: 25%;
}
#veille .form-group.with-button {
	flex-basis: 60%;
}

/*HELP*/
.comments-list li:first-child > a::after {
	content: "";
	display: block;
	width: 25px;
	height: 25px;
	background: url(img/check.svg);
	background-repeat: no-repeat;
	background-size: 25px 25px;
	position: absolute;
	bottom: 15px;
	left: 75px;
}
.imgg img {
	margin-bottom: 20px;
	max-height: 10vh;
}
#askforhelp .modal-dialog {
	max-width: 60vw;
}
#askforhelp .modal-dialog {
	max-width: 60vw;
	margin-top: 100px;
}
#problemos .event-description{
	margin-bottom: 0;
}
#problemos article{
	min-height: 0;
}


/*HELP ADMIN*/
#help .comments-list li:first-child > a::after {
	content: "";
	display: block;
	width: 25px;
	height: 25px;
	background: url(img/check.svg);
	background-repeat: no-repeat;
	background-size: 25px 25px;
	position: absolute;
	bottom: 15px;
	left: 60px;
}
#help .imgg img {
	margin-bottom: 20px;
	max-height: 10vh;
}
#help #askforhelp .modal-dialog {
	max-width: 60vw;
}
#help #askforhelp .modal-dialog {
	max-width: 60vw;
	margin-top: 100px;
}
#help a.btn.btn-green.btn-sm.full-width.lien_cms {
	margin-bottom: 20px !important;
}
#help .event-description .place {
	margin-bottom: 0;
}
#help #problemos .event-description{
	margin-bottom: 0;
}
#help #problemos article{
	min-height: 0;
}
#help #problemos .post {
	max-height: 55vh;
}
#help .no-after{
	content: none;
}


/*MODERATION USER*/
.ui-sortable-helper {
	border:1px solid gray;
	z-index: 9999999 !important;
	padding: 20px 10px;
	padding-bottom: 40px;
	cursor: pointer;
	list-style: none;
	height: 75px;
	background: white;
}
.ui-sortable-helper:before{
	position: relative;
	counter-increment: list1;
	content: counter(list1) " ";
	color: #888da8;
	display: inline-block;
	margin-right: 10px;
	font-size: 10px;
}
.ui-sortable-helper > * {
	display: inline-block;
	vertical-align: middle;
}
.ui-sortable-helper .playlist-thumb {
	position: relative;
	width: 34px;
	height: 34px;
	border-radius: 3px;
	overflow: hidden;
	margin-right: 12px;
}
.ui-sortable-helper .composition-time {
	position: relative;
	float: right;
	font-size: 11px;
	font-weight: 500;
}
a.composition-name{
	color: #2b2929 !important;
}
select.form-control.check_leader {
	margin: 20px 0;
}

/*REMONTEES*/
#modal_remontees .no-pr {
	position: initial;
	left: initial;
}
.etat_1 .open_modal {
	cursor: initial;
}
#modal_remontees .open_modal {
	cursor: pointer;
}
.hax-modal {
	width: 960px;
	max-width: 960px;
	margin: 200px auto;
}
#modal_remontees h6.event-description-title {
	width: 100%;
	margin-bottom: 20px;
}
#modal_remontees .event-description {
	margin-bottom: 0;
}
.col-lg-12.col-md-12.col-sm-12.col-xs-12.commentaires {
	padding: 25px;
}
a.btn.qualif {
	width: 100%;
	margin-bottom: 0;
	background: green;
	padding: 10px;
	color: white;
	margin: 10px 0 0 0;
}
#modal_remontees .titre {
	font-size: 1.2rem;
	font-weight: bold;
	color: #515365;
}
#modal_remontees h5.title.categorie {
	font-weight: inherit;
	font-style: italic;
}
#modal_remontees .author {
	position: absolute;
	bottom: 0;
	right: 0;
	font-style: italic;
}
p.reponse {
	margin-bottom: 0;
	text-align: right;
	font-style: italic;
}
a.btn.lien_kats {
	margin: 0;
	background: #9a9fbf;
	width: 100%;
	padding: 10px;
	margin-top: 20px;
}
a.btn.qualif:hover {
	color: white;
}
.refuser_remontees {
	background: tomato;
}
.open_modal {
	cursor: pointer;
}
#remontees select{
	flex-basis: 25%;
}
#remontees .form-group.with-button {
	flex-basis: 30%;
}
#remontees .w-select {
	display: flex !important;
	flex-direction: row;
	justify-content: space-between;
}
#remontees .search, #remontees .form-group.with-button{
	height: 100%;
}
#remontees .form-group.with-button div.hax-btn {
	display: block;
	position: absolute;
	right: 0;
	top: 0;
	height: 100%;
	width: 35px;
	text-align: center;
	line-height: 100%;
	color: #fff;
	fill: #fff;
	background-color: #d7d9e5;
	border: none;
	padding: 20px 0;
	cursor: pointer;
}
#remontees a.btn.btn-primary.btn-md-2.trigger {
	line-height: 25px;
	cursor: pointer;
	color: white !important;
}


/*TEMPLATE*/
#templ ul.cat-list-bg-style.align-center.sorting-menu {
	width: 100%;
}
#templ div#template > div,  div#template_moderer > div{
	width: 60vw;
	max-width: 60vw;
}
#templ a.img_betheme, .copy, .slider-rev {
	display: block;
	color: white !important;
	background: #0094ea;
	text-align: center;
	padding: 10px;
	margin-bottom: 10px;
	border-radius: 5px;
}
#templ .copy{
	background: tomato;
	cursor: pointer;
}
#templ a.btn.btn-green.btn-sm.full-width.ok_template {
	color: white;
}
#templ .ok_template, .ko_template {
	width: 48%;
	float: left;
	color: white !important;
	margin: 10px 1%;
}
#templ article.hentry {
	cursor: pointer;
}
#templ .hentry code {
	display: none;
}
#templ #shortcode_modal code {
	display: block;
}
#templ div#shortcode_modal code h1, div#shortcode_modal code h2 {
	font-size: inherit;
	color: inherit;
}
#templ div#shortcode_modal code p {
	text-align: inherit !important;
	margin: inherit !important;
	font-size: inherit;
}
#templ div#shortcode_modal code strong {
	font-weight: inherit !important;
}
#templ #shortcode_modal code {
	display: block;
	max-height: 50vh;
	overflow-y: auto;
}
#templ div#shortcode_modal code u {
	text-decoration: inherit;
}
#templ .modal-dialog {
	margin: 50px auto 0;
}
#templ	textarea {
	height: 170px;
}
#templ .slider-rev {
	background: #9a9fbf;
}
#templ .hide-input input{
	display: none;
}
#templ #tt{
	opacity: 0;
}
#templ img.trigger-input {
	display: block;
	margin: 0 auto;
	margin-bottom: 10px;
	width: 60px;
}
#templ .hide-input p {
	text-align: center;
}
#templ .hide-input a{
	color: inherit;
}
#templ .wrapper-previsu, .wrapper-slider, .wrapper-betheme{
	display: none;
}
#templ .form-group.label-floating.is-empty {
	display: block;
	margin: 20px auto;
}
#templ p.file {
	font-style: italic;
	font-size: 0.8rem;
	font-weight: 100;
}
#templ p.need {
	font-weight: 400;
}
#templ .empty-p{
	color: tomato;
}
#templ #prop-template .modal-dialog {
	max-width: 60vw;
}
#templ .proposition .ui-block {
	width: 100%;
}
#templ .proposition .col-xl-12.col-lg-12.col-md-12.col-sm-12.col-xs-12 {
	padding: 0;
}
#templ .proposition .ui-block {
	margin-bottom: 0;
}
#templ p.post-category.bg-blue-light {
	padding: 10px;
	background-color: tomato !important;
	color: white;
	font-size: 1em;
}
#templ .post-content {
	max-height: 130px;
}
#templ .hacks-relative{
	position: relative;
	top: -40px;
}
#templ .red-btn{
	font-size: 14px;
	position: relative;
	text-transform: capitalize;
	transition: all .3s ease;
	padding: 10px 20px;
	background: tomato;
	color: white;
}
#templ .event-description {
	margin-bottom: 0;	
}
#templ #shortcode_modal code {
	height: inherit;
}
#templ pre {
	margin-bottom: 0;
	padding: 10px;
}
#templ #template_moderer .shortcode{
	display: none;
}
#templ .toggle_code{
	padding: 10px;
	background-color: #f7f7f9;
	border-radius: 0.25rem;
	margin: 0;
}
#templ .shortcode{
	width: 100%;
}
#templ .author .who {
	font-weight: bold;
	margin: 0;
}
#templ p.when {
	margin: 0;
	font-size: 0.8rem;
	font-weight: inherit;
}


/*BIRTHDAY*/
.msg_gestionnaire {
	min-height: 220px;
	border: 1px solid rgba(255, 99, 71, 0.22);
	padding: 20px;
}
#birth .wrapper_msg, .wrapper_anniv_cmd{
	display: none;
}
#anniversaire .reni {
	background: #9a9fbf;
}
#anniversaire a.btn.btn-green.btn-lg {
	width: 100%;
	padding: 10px;
}
a.btn.btn-green.btn-lg.reni, input.date_bday {
	margin-bottom: 10px;
}
a.btn.btn-green.btn-lg.save {
	margin-bottom: 0;
}
input.date_bday {
	width: 100%;
	padding: 10px;	
}
#birth .dib p {
	width: 30%;
	float: left;
}
li.com_anniv {
	padding: 25px;
	border-bottom: 1px solid rgba(167, 167, 167, 0.23);
}
#birth p.auteur {
	font-weight: 500;
}
#birth span.date {
	font-weight: 100;
	font-size: 0.7rem;
}
#birth img.img_avatar {
	width: 30px;
	border-radius: 30px;
	margin-right: 5px;
}
#birth p.msg {
	margin-bottom: 0;
}
li.com_anniv:last-child {
	border-bottom: inherit;
}
#anniversaire .post p {
	margin: 0;
}
span.date_butoir {
	text-align: center;
	display: block;
	padding: 10px;
	background: tomato;
	color: white;
	border-radius: 3px;
	margin-top: 10px;
}
.butoir{
	display: none;
}
#birth a.btn.edit_msg {
	width: 100%;
	margin-top: 10px;
	background: #9a9fbf;
	color: white;
	padding: 10px;
	cursor: pointer;
	margin-bottom: 10px;
}
a.btn.chef_anniv {
	background: tomato;
	color: white;
}
a.btn.chef_anniv:hover {
	color: white;
}
#birth .save_edit{
	display: none;
}
#birth a.btn.save_edit {
	margin-bottom: 0;
	background: #1ed760;
	color: white;
	cursor: pointer;
	width: 100%;
	padding: 10px;
	margin-top: 15px;
}
#birth a.btn:hover{
	color: white !important;
}
input.change_date {
	padding: 10px;
	margin-top: 5px;
}
#anniversaire .event-description {
	height: 100%;
}
#birth .security{
	color: tomato;
}

/*MICRODATA*/
#microdata .align-center {
	width: 100%;
}
#microdata input, #microdata textarea, #microdata select{
	background: white !important;
}
#microdata textarea.json{
	min-height: 400px;
}
#microdata button.btn.copy {
	float: right;
	background: #1ed760;
}
.birthday-pic{
	width: 34px;
}

/*CHANGELOG*/
#log_open .table-careers li:first-child {
	background: inherit;
	padding: 10px 35px;
	background: tomato;
	border-radius: inherit;
	color: white;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
}
#log_open a.dl-pj {
	color: white !important;
	cursor: pointer;
}
#log_open .table-careers li {
	background: white;
	margin-top: 0;
}
#log .table-careers li, #log li.head:hover {
	background: white;
}
#log li.head:hover{
	background: tomato;
}
#log_open .container .post-img img {
	width: 200px;
}
#log li.head {
	background: tomato;
	color: white;
}
#log_open p.pj {
	font-style: italic;
	font-size: 0.7rem;
	padding-bottom: 10px;
	border-bottom: 1px solid #80808030;
}
#log_open .container .single-post-v1 {
	padding: 0;
}
#log_open .container a.post-category.bg-primary {
	display: block;
	position: relative;
	top: -1px;
	width: 105%;
	left: -2.5%;
	text-align: center;
	color: white;
	font-size: 1rem;
	box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
	margin-bottom: 0;
}
#log_open a.post-category.bg-primary, #log_open a.post-category.bg-primary:hover{
	color: white;
	background-color: #38a9ff !important;
}
#log_open .wrapper{
	padding: 50px 25px;
}
#log_open .container .author-date {
	margin-bottom: 25px;
}
#log_open .single-post .post-title {
	margin-bottom: 0;
}
#log_open .single-post-v1 .post-content-wrap {
	padding: 20px 0 0 0;
}
#log_open .single-post-v1 .post-content {
	padding: 0;
	margin-bottom: 50px;
	color: #2C2C2C;
}

#log_open .container h1.post-title {
	clear: both;
	text-align: center;
}
#log_open .container img.avatar {
	height: 30px;
	margin: 0 auto;
	display: block;
	margin-bottom: 10px;
}
#log_open .container .wrapper_whois{
	text-align: center;
}
#log_open .container .author-thumb {
	width: 100%;
}
.pr55{
	position: relative;
	top: -55px;
}

/*TEMPLATE ADMIN*/
/*#temp div#template > div {
	width: 60vw;
	max-width: 60vw;
}
#temp a.img_betheme,#temp  .copy,#temp  .slider-rev {
	display: block;
	color: white !important;
	background: #0094ea;
	text-align: center;
	padding: 10px;
	margin-bottom: 10px;
	border-radius: 5px;
}
#temp .copy{
	background: tomato;
	cursor: pointer;
}
#temp #tt{
	opacity: 0;
}
#temp a.btn.btn-green.btn-sm.full-width.ok_template {
	color: white;
}
#temp .ok_template, #temp .ko_template {
	width: 48%;
	float: left;
	color: white !important;
	margin: 10px 1%;
}
#temp article.hentry {
	cursor: pointer;
}
#temp .hentry code {
	display: none;
}
#temp #shortcode_modal code {
	display: block;
}
#temp div#shortcode_modal code h1, #temp div#shortcode_modal code h2 {
	font-size: inherit;
	color: inherit;
}
#temp div#shortcode_modal code p {
	text-align: inherit !important;
	margin: inherit !important;
	font-size: inherit;
}
#temp div#shortcode_modal code strong {
	font-weight: inherit !important;
}
#temp #shortcode_modal code {
	display: block;
	max-height: 50vh;
	overflow-y: auto;
}
#temp div#shortcode_modal code u {
	text-decoration: inherit;
}
#temp textarea#tt {
	display: none;
}
#temp .modal-dialog {
	margin: 200px auto 0;
}
#temp .slider-rev {
	background: #9a9fbf;
}
#temp .ui-block-title.custom .title {
	border-radius: 5px 5px 0 0;
	padding: 20px 15px;
	margin-bottom: 20px;
	background: white;
}
#temp .ui-block-title.custom {
	padding: 15px;
}
#temp p.post-category.bg-blue-light {
	padding: 10px;
	background-color: tomato !important;
	color: white;
	font-size: 1em;
}
#temp .post-content {
	max-height: 130px;
}
#temp .hacks-relative{
	position: relative;
	top: -40px;
}


*/



























.left-menu li:first-child a svg {
	fill: #ff5e3a;
}
.registration-login-form {
	min-height: 560px;
}
html.fp-enabled, .fp-enabled body {
	overflow: auto!important;
}
.section.fp-section.active.fp-completely {
	height: auto !important;
}
.container {
	margin-bottom: 30px;
}
.modal .container {
	padding-left: 0;
	margin-bottom: 0;
	overflow: hidden;
}
.veille .hentry img {
	width: 100%;
}
img.avatar {
	width: 30px;
}
.fp-section,
.fp-slide,
.fp-tableCell,
.fp-scrollable{
	height: auto !important;
}
td.delete {
	padding: 10px !important;
}
div#profile {
	display: block;
}
a.cat-list__item.active {
	color: white;
	padding: 10px 20px;
	font-style: 14px;	
}
a.btn-haxor {
	padding: 10px 0;
	font-size: 0.688rem;
	border-radius: 0.2rem;
	background: #ff5e3a;
	color: white;
}
.hax-width{
	width: 100%;
}
.main-header {
	max-width: 100%;
}
span.chat-message-item {
	word-break: break-all;
}
#iframe .html {
	width: 100%;
	height: 25vh;
	overflow: hidden;
}
.CodeMirror {
	height: 30vh !important;
}
.hauteur-card {
	height: 280px !important;
	overflow: hidden;
}
a.composition-name {
	color: #2C2C2C !important;
}
a.composition-author {
	color: #5f5e5e !important;
}
.ui-block.hauteur-card {
	margin-bottom: 25px;
}
.hauteur-card, .ajout-client {
	min-height: 270px !important;
}
.opencode p {
	word-break: break-all;
}
.main-header .content-bg:before{
	height: 340%;
}
.mb {
	margin-bottom: 20px;
}
.btn-hax:hover {
	background-color: #1ed760;
	border-color: #1ed760;
	opacity: 1;
}
/* --------------------- Design card - Partage de code --------------------- */

.bg-blue-light {
	background-color: transparent !important;
}

.opencode p.post-category, .JS h4, .CSS h4, .HTML h4, .Tout h4 {
	font-family:'Century Gothic';
	font-size:25px !important;
	line-height: 25px;
}
.opencode p.post-category {
	font-weight:400 !important;
}
.JS h4, .CSS h4, .HTML h4, .Tout h4 {
	font-weight:800 !important;
}

.JS .ui-block::before, .CSS .ui-block::before, .HTML .ui-block::before, .Tout .ui-block::before {
	content: "";
	transform: skewY(5deg);
	top: -20px;
	position: absolute;
	min-height: 80px;
	z-index: 0;
	width: 100%;
	transition: all 0.5s;
}
.JS .ui-block::before {
	background-color: #FF5E3A;
}
.CSS .ui-block::before {
	background-color: #7522c1;
}
.HTML .ui-block::before {
	background-color: #c5902e;
}
.Tout .ui-block::before {
	background-color: #04ad09;
}

#veille_code p.post-category.bg-blue-light {
	position:absolute;
	top:0px;
	right:0px;
	padding:20px !important;
	text-align:right !important;
	text-shadow:0px 0px 0px !important;
}

article.first-code {
	padding-top:60px;
}

#veille_code .JS p.post-category.bg-blue-light {
	background-image: url(../img/javascript.png);
	background-repeat: no-repeat;
	background-size: 30px;
	background-position: 80% 50%;
}

#veille_code .CSS p.post-category.bg-blue-light {
	background-image: url(../img/css.png);
	background-repeat: no-repeat;
	background-size: 30px;
	background-position: 70% 50%;
}

#veille_code .HTML p.post-category.bg-blue-light {
	background-image: url(../img/html.png);
	background-repeat: no-repeat;
	background-size: 30px;
	background-position: 65% 50%;
}

#veille_code .Tout p.post-category.bg-blue-light {
	background-image: url(../img/folder.png);
	background-repeat: no-repeat;
	background-size: 30px;
	background-position: 65% 50%;
}  
.nomb{
	margin-bottom: 0;
}
.red{
	background: #ff5e3a;
}
.modifier{
	cursor: pointer;
}
.event-item {
	padding: 30px;
	border-top: 1px solid #e6ecf5;
	border-bottom: none;
}
.event-item:first-child {
	border-top: none;
}
.event-item-table td {
	padding: 15px;
}
p.description {
	max-width: 100% !important;
}
a.btn-fixed {
	padding: 20px 0;
	font-size: 0.rem;
	border-radius: 0.2rem;
	background: tomato;
	text-align: center;
	color: white !important;
	cursor: pointer;
	margin-right: 20px !important;
	display: block;
}
span.level {
	color: transparent;
	font-size: 0.7rem;
	background: black;
	width: 20px;
	height: 20px;
	border-radius: 20px;
	text-align: center;
	margin-right: 5px;
}
span.legend-level {
	font-size: 0.7rem;
	background: black;
	width: 20px;
	height: 20px;
	border-radius: 20px;
	display: block;
	margin-right: 5px;
	float: left;
}
.legend {
	width: 5vw;
}
p.legend:first-child span.legend-level{
	background-color: tomato;
}
p.legend:nth-child(2) span.legend-level{
	background-color: #ffb547;
}
p.legend:last-child span.legend-level {
	background-color: #1ed760;
}
p.legend {
	height: 20px;
	line-height: 20px;
	margin: 5px 0;
}
.lien_cms {
	margin-bottom: 0 !important;
}
a.btn.btn-breez.btn-sm.check_proposition {
	display: none;
}
.header .page-title {
	min-width: 320px;
}
.notif a {
	color: white;
	padding: 10px;
	border: 2px solid tomato;
}
.wrap {
	width: 100%;
	text-align: center;
	color: white;
}
.delete {
	background-image: url(../img/cross.png);
	background-repeat: no-repeat;
	background-size: 20px;
	background-position: 18px 20px;
	cursor: pointer;
}
.notif img {
	width: 25px;
	margin-right: 10px;
}
.empty{
	border: 1px solid tomato;
}
.onchange{
	border: 1px solid #e6ecf5;
}

#hidden-content-a .btn, #hidden-content-b .btn{
	margin-top: 20px;
}

.token, .newpassword{
	display: none;
}
.label-floating select {
	padding: 1.1rem;
}
.rond-card {
	width: 150px !important;
	height: 150px !important;
	position: absolute;
	top: -55px;
	left: -55px;
}
#check_code .empty {
	border: 1px solid red;
}
#description.empty {
	border: 1px solid red;
}
.friend-item{
	min-height: 450px;
}
.mt{
	margin-top: 150px;
}
.whitecolor a {
	color: white !important;
}
.box-orange{
	box-shadow: 0 0px 25px #ff5e3a;
	animation-duration: 1s;
	animation-name: changewidth;
	animation-iteration-count: infinite;
	animation-direction: alternate;
}
@keyframes changewidth {
	from {
		box-shadow: 0 0px 25px #ff5e3a;
	}

	to {
		box-shadow: 0 0px 0px #ff5e3a;
	}
}
.registration-login-form {
	min-height: auto;
}
.signinok{
	background-color: #77df35;
}
select.changegraph {
	padding: 1.3rem 1.1rem;
}
.container.custom {
	width: 100%;
	padding: 0;
}
p.h6.post__author-name.fn {
	margin-bottom: 0;
}
#veille_code .sorting-item a {
	color: rgb(107, 107, 107);
	cursor: pointer;
}
.resetmh{
	min-height: inherit;
}
.container.custom > .row {
	margin: 0;
}
.header-spacer.custom {
	height: 70px;
}
a.moderation_code {
	width: 50%;
	display: block;
	float: left;
	text-align: center;
	color: white !important;
	cursor: pointer;
}


/*HELP OPEN*/
#help_open .text				{
	max-width: 300px;
	word-wrap: break-word;
}
#help_open .open-topic-table, #help_open thead, #help_open tbody, #help_open tr {
	width: 100%;
	display: block;
}
#help_open td.posts {
	width: 80%;
	display: block;
	float: right;
}
#help_open .author{
	float: left;
}
#help_open .flex_wrapper {
	display: flex;
}
#help_open .flex_wrapper > * {
	padding-left: 0;
	padding-right: 0;
}
#help_open .wrapper{
	padding-left: 15px;
	padding-right: 15px;
	text-align: center;
	padding-top: 20px;
}
#help_open .auteur, #help_open .msg{
	background-color: #38a9ff;
	color: white;
	padding: 15px 0 15px 15px;
}
#help_open img.center{
	display: block;
	margin: 0 auto;
	margin-bottom: 10px;
}
#help_open p.topic-date, #help_open p.auteur, #help_open p.msg{
	margin-bottom: 0;
}
#help_open p.topic-date, #help_open .rep{
	padding: 10px 0;
}
#help_open .grey {
	background: #fafbfd;
	display: flex;
	justify-content: space-between;
	padding: 5px 15px;
	z-index: 99;
}
#help_open .country{
	margin-bottom: 0;
	padding-bottom: 20px;
}
#help_open p.topic-date {
	float: left;
}
#help_open .post {
	margin-bottom: 0;
	border-bottom: inherit;
	padding: 25px 15px;
}
#help_open .bl{
	border-left : 1px solid #e6ecf5;
}
#help_open .show_code{
	margin: 0 15px;
	background: #fafbfd;
	padding: 15px;
	cursor: pointer;
	display: flex;
	justify-content: space-between;
}
#help_open .code_wrapper {
	margin: 0 15px 25px 15px;
	background: #fafbfd;
	padding: 0 15px 15px 15px;
	display: none;
}
#help_open code {
	padding: 0;
	font-size: 90%;
	color: #bd4147;
	background-color: inherit;
	border-radius: 0.25rem;
}
#help_open svg.olymp-cupcake-icon.left-menu-icon {
	fill: #9A9FBF;
}
#help_open .container .post-img img {
	width: 200px;
}
#help_open p.pj {
	font-style: italic;
	font-size: 0.7rem;
	padding-bottom: 10px;
	border-bottom: 1px solid #80808030;
}
#help_open .post-img {
	padding: 25px 15px;
}

/*REMONTEES*/
#remontees .padding{
	padding: 24px 23px 23px;
}
#remontees .border-left{
	border-left: 1px solid #e6ecf5;;
}
#remontees .modal h6.title-left {
	text-align: left;
}
#remontees p.description {
	overflow-wrap: break-word;
}
#remontees .date-event {
	margin-bottom: 0.7rem;
}
#remontees p.auteur, #remontees p.auteur_commentaire {
	text-align: right;
	font-weight: 500;
	font-style: italic;
}
#remontees a.fancy-img.img-link {
	color: white;
	text-align: center;
	padding: 10px 20px;
	background: #38a9ff;
	border-radius: 5px;
	display: block;
}
#remontees a.kats-link {
	color: white;
	text-align: center;
	padding: 10px 20px;
	background: #9a9fbf;
	display: block;
	border-radius: 5px;
	margin-top: 15px;
}
#remontees .p010 {
	margin: 0 10px;
	border-top: 1px solid #e6ecf5;
	padding: 25px 0;
}


/*FULL PAGE*/
#fullpage{
	padding: 0 70px;
}
.loader{
	width: 80%;
}
.slide {
	padding: 0 80px;
}
#fullpage label > span:nth-child(6) {
	display: none;
}
.fp-tableCell {
	display: block;
}
.checkbox h4.title {
	text-align: center;
}
img.illu {
	display: block;
	margin: 0 auto;
	margin: 0px auto;
	width: 75px;
	position: absolute;
	top: 16px;
}
.checkbox .checkbox-material .check {
	width: 30px;
	height: 30px;
	margin: 0 auto;
	display: block;
}
#fullpage span.checkbox-material {
	display: block;
}
.checkbox .checkbox-material:before {
	left: calc(50% - 12px);
	top: 5px;
}
.checkbox .checkbox-material .check:before {
	margin-top: 2px;
	margin-left: 13px;
}
.voirplus {
	position: absolute;
	bottom: 0;
	right: 0;
	z-index:2;
	padding-right: 25px;
}
.voirplus a {
	color: #ffffff;
	text-decoration: none;
}
#fullpage .col-lg-3.col-md-6.col-sm-6.col-xs-12 {
	margin: 10px 0;
}
#fullpage .ui-block {
	margin-bottom: 0;
	height: 100%;
}
.ui-block {
	position: relative;
}
.box-diagonal {
	overflow:hidden;
}
.checkbox::after, .card-accueil::after {
	content: "";
	background-color:#53556d;
	transform:skewY(5deg);
	bottom: -50px;
	position: absolute;
	min-height: 125px;
	z-index: 1;
	width: 100%;
	transition: all 0.5s;
}
.checkbox .form-group {
	padding:0 16px;
}
.checkbox textarea {
	min-height: 100px;
	max-height: 150px;
}
.box-valide::after {
	content: "";
	background-color:#ff5e3a;
	transform:skewY(5deg);
	bottom: -70px;
	position: absolute;
	min-height: 125px;
	z-index: 1;
	width: 100%;
	width: 100%;
	transition: all 0.5s;
}
.box-diagonal .available-widget {
	padding: 0;
}
#fullpage .available-widget {
	height: 100%;
	width: 100%;
}
#fullpage .available-widget > * {
	display: block;
	height: 100%;
}
.infos-check {
	padding:16px 25px;
}
.available-widget label{
	position: absolute;
	bottom:16px;
	height: 25%;
	width: 100%;
	cursor: pointer;
	z-index: 2;
}
#fullpage span.checkbox-material {
	bottom: 0;
	position: absolute;
	left: 0;
	top: inherit;
	z-index:2;
	padding-left: 25px;
}
#fullpage .row > div {
	min-height: 370px;
}
#fullpage p{
	margin-top: 5px;
}
h4.title{
	line-height: 1.3;
	font-size: 1.2rem;
	text-transform: uppercase;
	min-height: 75px;
	display: flex;
	align-items: center;
	margin-left: 85px;
}
#fullpage .fp-controlArrow.fp-next {
	border-color: transparent transparent transparent #ff5e3a;
}
#fullpage .fp-controlArrow.fp-prev {
	border-color: transparent #ff5e3a transparent transparent;
}
.section .slide{
	margin-top: 70px;
}



#veille_code .ui-block {
	overflow: hidden;
}

.commentaires {
	width:100%;
}





.flip-container {
	transition: all 0.2s;
	-webkit-perspective: 900px;
	-moz-perspective: 900px;
	-o-perspective: 900px;
	perspective: 900px;
	width: 100%;
	min-height: 370px;
	position:relative;
}
.front, .back {
	position: absolute;
	top: 0;
	width: 100%;
	min-height: 100%;
	backface-visibility: hidden;
	transform-style: preserve3d;
	transition: all 0.4s;
}
.flip-container .back {
	-webkit-transform: rotateY(-180deg);
	-moz-transform: rotateY(-180deg);
	-o-transform: rotateY(-180deg);
	transform: rotateY(-180deg);
}
.flipped .back {
	-webkit-transform: rotateY(0deg);
	-moz-transform: rotateY(0deg);
	-o-transform: rotateY(0deg);
	transform: rotateY(0deg);
}
.flipped .front {
	-webkit-transform: rotateY(180deg);
	-moz-transform: rotateY(180deg);
	-o-transform: rotateY(180deg);
	transform: rotateY(180deg);
}
.fermer {
	font-size: 70px;
	color: #FF5E3A;
	cursor: pointer;
	position: absolute;
	top: 25px;
	right: 16px;
	display: block;
	width: 25px;
	height: 25px;
	line-height: 60px;
}
.back h4.title {
	display: flex;
	margin: 0;
	justify-content: center;
}
.back .voirplus {
	bottom:20px;
}


/* CHAT */
.popup-chat .chat-message-field li:nth-child(2n) .author-thumb, .popup-chat .chat-message-field li:nth-child(2n) .notification-event {
	float: inherit;
}


.emet .author-thumb, .emet .notification-event {
	float: right !important;
}

.emet .author-thumb, .emet .notification-event {
	float: right !important;
}
.emet span.chat-message-item{
	background: #7c5ac2 !important;
	color: white !important;
}
.recep span.chat-message-item{
	background: #f0f4f9 !important;
	color: #2C2C2C !important;
}
.popup-chat .chat-message-field li:nth-child(2n) .chat-message-item {
	background-color: initial;
	color: inherit;
}
.popup-chat .notification-event {
	padding-left: 20px;
	width: 80%;
}

.emet span.chat-message-item{
	background: #7c5ac2 !important;
	color: white !important;
}
.recep span.chat-message-item{
	background: #f0f4f9 !important;
	color: #2C2C2C !important;
}
.emet .notification-event{
	padding-right: 10px !important;
}
.recep .notification-event{
	padding-left: 20px !important;
}

/* LOADER */
#loader-wrapper {
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	z-index: 1000;
	margin: 0 70px;
	box-sizing: border-box;
}
#loader {
	display: block;
	position: relative;
	left: calc(50% - 75px);
	top: 50%;
	width: 150px;
	height: 150px;
	margin: -75px 0 0 -75px;
	border-radius: 50%;
	border: 3px solid transparent;
	border-top-color: white;

	-webkit-animation: spin 2s linear infinite; /* Chrome, Opera 15+, Safari 5+ */
	animation: spin 2s linear infinite; /* Chrome, Firefox 16+, IE 10+, Opera */
	z-index: 1001;
}

#loader:before {
	content: "";
	position: absolute;
	top: 5px;
	left: 5px;
	right: 5px;
	bottom: 5px;
	border-radius: 50%;
	border: 3px solid transparent;
	border-top-color: #fc5c3a;

	-webkit-animation: spin 3s linear infinite; /* Chrome, Opera 15+, Safari 5+ */
	animation: spin 3s linear infinite; /* Chrome, Firefox 16+, IE 10+, Opera */
}

#loader:after {
	content: "";
	position: absolute;
	top: 15px;
	left: 15px;
	right: 15px;
	bottom: 15px;
	border-radius: 50%;
	border: 3px solid transparent;
	border-top-color: #38a9ff;

	-webkit-animation: spin 1.5s linear infinite; /* Chrome, Opera 15+, Safari 5+ */
	animation: spin 1.5s linear infinite; /* Chrome, Firefox 16+, IE 10+, Opera */
}

@-webkit-keyframes spin {
	0%   { 
		-webkit-transform: rotate(0deg);  /* Chrome, Opera 15+, Safari 3.1+ */
		-ms-transform: rotate(0deg);  /* IE 9 */
		transform: rotate(0deg);  /* Firefox 16+, IE 10+, Opera */
	}
	100% {
		-webkit-transform: rotate(360deg);  /* Chrome, Opera 15+, Safari 3.1+ */
		-ms-transform: rotate(360deg);  /* IE 9 */
		transform: rotate(360deg);  /* Firefox 16+, IE 10+, Opera */
	}
}
@keyframes spin {
	0%   { 
		-webkit-transform: rotate(0deg);  /* Chrome, Opera 15+, Safari 3.1+ */
		-ms-transform: rotate(0deg);  /* IE 9 */
		transform: rotate(0deg);  /* Firefox 16+, IE 10+, Opera */
	}
	100% {
		-webkit-transform: rotate(360deg);  /* Chrome, Opera 15+, Safari 3.1+ */
		-ms-transform: rotate(360deg);  /* IE 9 */
		transform: rotate(360deg);  /* Firefox 16+, IE 10+, Opera */
	}
}

#loader-wrapper .loader-section {
	position: fixed;
	top: 0;
	width: 51%;
	height: 100%;
	background: #3f4257;
	z-index: 1000;
}

#loader-wrapper .loader-section.section-left {
	left: 0;
}
#loader-wrapper .loader-section.section-right {
	right: 0;
}

/* Loaded styles */
.loaded #loader-wrapper .loader-section.section-left {
	-webkit-transform: translateX(-100%);  /* Chrome, Opera 15+, Safari 3.1+ */
	-ms-transform: translateX(-100%);  /* IE 9 */
	transform: translateX(-100%);  /* Firefox 16+, IE 10+, Opera */

	-webkit-transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1.000);  /* Android 2.1+, Chrome 1-25, iOS 3.2-6.1, Safari 3.2-6  */
	transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1.000);  /* Chrome 26, Firefox 16+, iOS 7+, IE 10+, Opera, Safari 6.1+  */
}
.loaded #loader-wrapper .loader-section.section-right {
	-webkit-transform: translateX(100%);  /* Chrome, Opera 15+, Safari 3.1+ */
	-ms-transform: translateX(100%);  /* IE 9 */
	transform: translateX(100%);  /* Firefox 16+, IE 10+, Opera */

	-webkit-transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1.000);  /* Android 2.1+, Chrome 1-25, iOS 3.2-6.1, Safari 3.2-6  */
	transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1.000);  /* Chrome 26, Firefox 16+, iOS 7+, IE 10+, Opera, Safari 6.1+  */
}
.loaded #loader {
	opacity: 0;

	-webkit-transition: all 0.3s ease-out;  /* Android 2.1+, Chrome 1-25, iOS 3.2-6.1, Safari 3.2-6  */
	transition: all 0.3s ease-out;  /* Chrome 26, Firefox 16+, iOS 7+, IE 10+, Opera, Safari 6.1+  */

}
.loaded #loader-wrapper {
	visibility: hidden;

	-webkit-transform: translateY(-100%);  /* Chrome, Opera 15+, Safari 3.1+ */
	-ms-transform: translateY(-100%);  /* IE 9 */
	transform: translateY(-100%);  /* Firefox 16+, IE 10+, Opera */

	-webkit-transition: all 0.3s 1s ease-out;  /* Android 2.1+, Chrome 1-25, iOS 3.2-6.1, Safari 3.2-6  */
	transition: all 0.3s 1s ease-out;  /* Chrome 26, Firefox 16+, iOS 7+, IE 10+, Opera, Safari 6.1+  */
}


.fp-prev{
	display: none;
}


label.count {
	display: block;
	position: absolute;
	bottom: 5px;
	right: 10px;
}

textarea#description_control, textarea#description_graph, textarea#shortcode, textarea#description_edit  {
	width: 100%;
	border: 1px solid #e6ecf5;
	border-radius: 5px;
}

.moproblem{
	cursor: pointer;
}
.hax {
	display: block;
}
.event-private-public .mCustomScrollbar {
	max-height: 435px;
}
.comment-form .form-group {
	width: 97%;
}
td.description p.description {
	word-break: break-all;
}
#modal_remontees .modal-dialog, #anniversaire .modal-dialog {
	margin: auto;
	width: 70vw;
	max-width: 70vw;
	margin-top: 10vh;
}
#modal_remontees .modal-dialog{
	margin-top: 5vh;
}
td.categorie {
	border: none;
}
p.categorie {
	border: none;
}
#modal_remontees .post {
	max-height: 45vh;
	overflow-y: scroll;
}
#modal_remontees .comments-list li {
	padding: 15px;
}
a.btn.btn-sm.bg-blue.participer {
	color: white;
	cursor: pointer;
}
li.cat-list__item.fr {
	float: right;
	border-radius: 0;
	margin: 0;
	background: tomato;
}
li.cat-list__item.fr a{
	color: white;
}
.cat-list__item {
	border-radius: 5px;
}
span.who {
	font-size: 13px;
	font-weight: bold;
	color: #515365;
	display: block;
	padding-top: 19px;
	padding-left: 45px;
}
span.when {
	padding-left: 12px;
}
#anniversaire .avatar {
	margin: 20px 0;
}
#anniversaire h6.event-description-title {
	margin-bottom: 0;
}
#anniversaire img.avatar {
	float: left;
}
#anniversaire .form-group.with-icon-right, #problemos .form-group.with-icon-right {
	width: 100%;
}
#anniversaire .event-description {
	margin-bottom: 0;
}
a.showlastweek {
	float: right;
	color: inherit;
}
.modal h6.title {
	text-align: center;
}
.accept{
	background : #1ed760;
}
#check_design .window-popup .form-group {
	margin-bottom: 0;
}
#check_design .ui-block {
	margin-bottom: 0;
}
.modalcheck {
	padding: 0 15px;
	margin-bottom: 15px;
}
.modalcheck > div {
	width: 100%;
}
select#graphiste,  select.categorie, select#categorie{
	padding: 1.1rem;
}
.sorting-item{
	position: relative;
}
#check_code textarea {
	width: 100%;
	border: 1px solid #e6ecf5;
}
.sorting-item a.post-add-icon.inline-items{
	position: absolute;
	bottom: 20px;
	right: 40px;
}
textarea#description {
	width: 100%;
	border-color: #e6ecf5;
}
div#code {
	width: 100vw;
	height: 92.9vh;
	padding: 0 70px;
}
.rendu {
	height: 50vh;
	margin-top: 2.9vh;
}
.code {
	height: 40vh;
}
.code textarea, .code .form-group{
	height: 100%;
}
.code textarea {
	width: 100%;
	border-radius: 5px;
	background: #272822;
	color: white;
}
div#content {
	width: 100%;
	height: 100%;
	padding: 0;
	margin: 0;
}
textarea#description:focus {
	outline: none;
}
body#prop-code {
	overflow-y: hidden;
}
#check_code .ui-block {
	margin-bottom: 0;
}
iframe#rendu-code {
	width: 99%;
	height: 100%;
	width: 100%;
	border: 1px solid #e6ecf5;
	border-radius: 5px;
	background: white;
}

@media (min-width: 540px){
	.modal-dialog {
		max-width: 500px;
		margin: 200px auto;
	}
}






.crea-maquette::before, .ctrl-maquette::before, .retour-crea::before, .crea-graphique::before, .ctrl-design::before, .site-valide::before {
	content: "";
	transform: skewY(5deg);
	top: -20px;
	position: absolute;
	min-height: 160px;
	z-index: 0;
	width: 100%;
	transition: all 0.5s;
}
.crea-maquette::before {
	background-color: #FF5E3A;
}
.ctrl-maquette::before {
	background-color: #7522c1;
}
.retour-crea::before {
	background-color: #de1717;
}
.crea-graphique::before {
	background-color: #047ead;
}
.ctrl-design::before {
	background-color: #c5902e;
}
.site-valide::before {
	background-color: #04ad09;
}
.entete-card {
	display: flex;
	align-items: center;
	min-height: 100px;
}
.etat-card {
	width: auto !important;
	height: auto !important;
	top: 0px;
	left: 0px;
	margin: 0 !important;
	overflow: visible !important;
	border-radius: 0px !important;
	line-height: 0px !important;
	background-color: transparent !important;
}
.etat-card img {
	border-radius: 0px !important;
	width: 130px;
}
.texte-card {
	text-align: right;
	width: 48%;
	float: right;
	margin-bottom: 15px;
}
.texte-card .h5, .texte-card .country {
	color: #FFF;
}
.bouton-check {
	width: 100%;
	display: flex;
	justify-content: center;
	bottom: -20px;
	position: relative !important;
	left: 0;
}
.bouton-icone1, .bouton-icone2, .bouton-icone3 {
	width: 60px;
	height: 60px;
	display: flex;
	justify-content: center;
	align-items: center;
}
.bouton-icone1 {
	background-color: #3F4257;
}
.bouton-icone2 {
	background-color: #7C5AC2;
}
.bouton-icone3 {
	background-color: tomato;
}
.bouton-icone1:hover, .bouton-icone2:hover {
	background-color: #38A9FF;
}
.registration-login-form {
	min-height: 560px;
}
.empty {
	border: 1px solid tomato;
}
.onchange {
	border: 1px solid #e6ecf5;
}
#hidden-content-a .btn, #hidden-content-b .btn {
	margin-top: 20px;
}
.token, .newpassword {
	display: none;
}
.label-floating select {
	padding: 1.1rem;
}
.rond-card {
	width: 150px !important;
	height: 150px !important;
	position: absolute;
	top: -55px;
	left: -55px;
}
.friend-item {
	min-height: 450px;
}
.mt {
	margin-top: 150px;
}
.whitecolor a {
	color: white !important;
}
.box-orange {
	box-shadow: 0 0px 25px #ff5e3a;
	animation-duration: 1s;
	animation-name: changewidth;
	animation-iteration-count: infinite;
	animation-direction: alternate;
}
@keyframes changewidth {
	from {
		box-shadow: 0 0px 25px #ff5e3a;
	}
	to {
		box-shadow: 0 0px 0px #ff5e3a;
	}
}
.registration-login-form {
	min-height: auto;
}
.signinok {
	background-color: #77df35;
}
select.changegraph {
	padding: 1.3rem 1.1rem;
}
p.h6.post__author-name.fn {
	margin-bottom: 0;
}
#veille_code .sorting-item a {
	color: rgb(107, 107, 107);
}
.resetmh {
	min-height: inherit;
}
.container.custom>.row {
	margin: 0;
}
.header-spacer.custom {
	height: 70px;
}
/*FULL PAGE*/

#fullpage {
	padding: 0 70px;
}
.loader {
	width: 80%;
}
.slide {
	padding: 0 80px;
}
#fullpage label>span:nth-child(6) {
	display: none;
}
.fp-tableCell {
	display: block;
}
.checkbox h4.title {
	text-align: center;
}
img.illu {
	display: block;
	margin: 0 auto;
	margin: 0px auto;
	width: 75px;
	position: absolute;
	top: 16px;
}
.checkbox .checkbox-material .check {
	width: 30px;
	height: 30px;
	margin: 0 auto;
	display: block;
}
#fullpage span.checkbox-material {
	display: block;
}
.checkbox .checkbox-material:before {
	left: calc(50% - 12px);
	top: 5px;
}
.checkbox .checkbox-material .check:before {
	margin-top: 2px;
	margin-left: 13px;
}
.voirplus {
	position: absolute;
	bottom: 0;
	right: 0;
	z-index: 2;
	padding-right: 25px;
}
.voirplus a {
	color: #ffffff;
	text-decoration: none;
}
#fullpage .col-lg-3.col-md-6.col-sm-6.col-xs-12 {
	margin: 10px 0;
}
#fullpage .ui-block {
	margin-bottom: 0;
	height: 100%;
}
.ui-block {
	position: relative;
}
.box-diagonal {
	overflow: hidden;
}
.checkbox::after, .card-accueil::after {
	content: "";
	background-color: #53556d;
	transform: skewY(5deg);
	bottom: -50px;
	position: absolute;
	min-height: 125px;
	z-index: 1;
	width: 100%;
	transition: all 0.5s;
}
.checkbox .form-group {
	padding: 0 16px;
}
.checkbox textarea {
	min-height: 100px;
	max-height: 150px;
}
.box-valide::after {
	content: "";
	background-color: #ff5e3a;
	transform: skewY(5deg);
	bottom: -70px;
	position: absolute;
	min-height: 125px;
	z-index: 1;
	width: 100%;
	width: 100%;
	transition: all 0.5s;
}
.box-diagonal .available-widget {
	padding: 0;
}
#fullpage .available-widget {
	height: 100%;
	width: 100%;
}
#fullpage .available-widget>* {
	display: block;
	height: 100%;
}
.infos-check {
	padding: 16px 25px;
}
.np{
	padding: 0;
}
.available-widget label {
	position: absolute;
	bottom: 16px;
	height: 25%;
	width: 100%;
	cursor: pointer;
	z-index: 2;
}
#fullpage span.checkbox-material {
	bottom: 0;
	position: absolute;
	left: 0;
	top: inherit;
	z-index: 2;
	padding-left: 25px;
}
#fullpage .row>div {
	min-height: 370px;
}
#fullpage p {
	margin-top: 5px;
}
h4.title {
	line-height: 1.3;
	font-size: 1.2rem;
	text-transform: uppercase;
	min-height: 75px;
	display: flex;
	align-items: center;
	margin-left: 85px;
}
#fullpage .fp-controlArrow.fp-next {
	border-color: transparent transparent transparent #ff5e3a;
}
#fullpage .fp-controlArrow.fp-prev {
	border-color: transparent #ff5e3a transparent transparent;
}
.section .slide {
	margin-top: 70px;
}
.commentaires {
	width: 100%;
}
.flip-container {
	transition: all 0.2s;
	-webkit-perspective: 900px;
	-moz-perspective: 900px;
	-o-perspective: 900px;
	perspective: 900px;
	width: 100%;
	min-height: 370px;
	position: relative;
}
.front, .back {
	position: absolute;
	top: 0;
	width: 100%;
	min-height: 100%;
	backface-visibility: hidden;
	transform-style: preserve3d;
	transition: all 0.4s;
}
.flip-container .back {
	-webkit-transform: rotateY(-180deg);
	-moz-transform: rotateY(-180deg);
	-o-transform: rotateY(-180deg);
	transform: rotateY(-180deg);
}
.flipped .back {
	-webkit-transform: rotateY(0deg);
	-moz-transform: rotateY(0deg);
	-o-transform: rotateY(0deg);
	transform: rotateY(0deg);
}
.flipped .front {
	-webkit-transform: rotateY(180deg);
	-moz-transform: rotateY(180deg);
	-o-transform: rotateY(180deg);
	transform: rotateY(180deg);
}
.fermer {
	font-size: 70px;
	color: #FF5E3A;
	cursor: pointer;
	position: absolute;
	top: 25px;
	right: 16px;
	display: block;
	width: 25px;
	height: 25px;
	line-height: 60px;
}
.back h4.title {
	display: flex;
	margin: 0;
	justify-content: center;
}
.back .voirplus {
	bottom: 20px;
}
input.openDays {
	position: relative;
	top: -21px;
}
.wrapper_btn {
	padding: 0 10px;
}
tbody p {
	margin-bottom: 0;
}


@media only screen and (max-width: 1240px){
	.fixed-sidebar-left.sidebar--small .left-menu a {
		padding: 6px 0 10px 25px;
		display: block;
	}
}

@media only screen and (max-width: 1600px){
	#problemos .modal-dialog, #anniversaire .modal-dialog {
		margin: auto;
		width: 90vw;
		max-width: 90vw;
		margin-top: 15vh;
	}
	#create-achat .modal-dialog {
		margin-top: 100px;
	}
}

/*@media (min-width: 1199px){
	.container {
		max-width: 100%;
		padding: 0 40px 0 110px;
	}
	}*/

	/* RESPONSIVE */
	@media all and (max-width: 1690px) { 

		.container {
			padding-left: 70px;
		}

	}

	@media all and (max-width: 1200px) { 
		.btn {
			white-space: normal;
		}
	}

	@media all and (max-width: 1024px) { 
		.container {
			padding-left: 90px;
		}
		.container {
			max-width: 860px;
		}
		.explore .container {
			padding-left: 10px;
		}
	}

/*	@media all and (min-width: 801px) { 
		.container {
			padding-left: 20px;
		}
		}*/

		@media all and (max-width: 800px) { 
			.friend-item.friend-groups.create-group.hauteur-card.ajout-client {
				margin-bottom: 20px;
			}
			.cards a.h5.author-name {
				font-size: 1.5rem;
			}
			.cards .country {
				font-size: 1.2rem;
			}
			.cat-list__item a {
				padding: 10px 12px;
			}
			#problemos .col-sm-12 {
				flex: 0 0 100%;
				max-width: 50%;
			}
		}

		@media all and (max-width: 767px) { 
			.container {
				padding-left: 20px;
			}
			div#sidebar-left-responsive {
				position: absolute;
				left: 0;
			}
			a.logo.js-sidebar-open {
				height: 100%;
			}
			.fixed-burger-menu {
				width: 70px;
				height: 70px;
				position: absolute;
				right: 0;
				top: 0;
				background-color: tomato;
			}
			.burger-menu svg {
				position: relative;
				right: -20px;
				top: 20px;
				fill: white;
			}
		}

		@media all and (max-width: 640px) { 

			.event-item-table td {
				padding: 5px;
			}
			.event-item:nth-child(odd){
				border-right: 1px solid #e6ecf5;
			}
			body > div.container.mb30 > div > div > div > table > tbody > tr:nth-child(2) {
				border-top: none;
			}
			.remontee {
				width: calc(50vw - 50px);
				border-top: none;
			}
			.remontee_graph{
				width: calc(50vw - 30px);
			}
			.page .output {
				margin-top: 20px;
			}
			.window-popup {
				max-width: calc(100% - 60px);
			}
		}




